<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<!-- <img src="images/logo.png" alt="" width="320" /> -->

<div class="searchbar">
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-form__button" type="submit">
      <svg class="search-icon" width="15" height="15">
        <use href="./images/search.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</div>
